<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">App Database</a>
        </div>
        <div class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg navbar-btn" data-ng-click="openAppForm()">
                        Add Application
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-group" data-toggle="buttons">
                        <label for="completeStatus" class="btn btn-primary navbar-btn"
                               btn-checkbox
                               data-ng-model="global.fil.complete"
                               id="completeStatus"
                                > Complete
                        </label>
                        <label for="stageStatus" class="btn btn-primary navbar-btn"
                               btn-checkbox
                               data-ng-model="global.fil.stage"
                               id="stageStatus"
                                > Staged
                        </label>
                        <label for="fixStatus" class="btn btn-primary navbar-btn"
                               btn-checkbox
                               data-ng-model="global.fil.fix"
                               id="fixStatus"
                                > Need Fix
                        </label>
                    </div>
                    <div class="btn btn-primary navbar-btn" data-ng-click="showAll()">No Filter</div>
                </li>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="global.search" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-left hidden-md hidden-lg">
                <li data-ng-repeat="cat in global.categories | orderBy:'category'">
                    <a ng-href="/{{cat.category | lowercase | strreplace:' & ':'-' | strreplace:' ':'_'}}"
                       data-ng-bind="cat.category"
                       ng-click="refresh()">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<div data-ng-include="'/views/applicationform.html'" id="addAppModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="addAppModalLabel" aria-hidden="true"></div>-->
