<head>
  <title>Apps Database</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  
</body>

<template name="layout">
  {{> nav}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        {{> sidenav}}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container">
          <div class="row">
            {{> yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="sidenav">
  <ul class="nav nav-sidebar">
    <li><a href="/">Home</a> </li>
    {{#each categories}}
      <li><a href="/{{category}}">{{category}}</a></li>
    {{/each}}
  </ul>
</template>
